<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <style>
        body{
            align-items: center;
            align-content: center;
            position:relative;
        }
        #hea{
            text-align: center;
            color: red;
        }
        h1{
            text-align: center;
        }
        h2{
            text-align: center;
        }
        #me{
            text-align: center;
            border: 1px solid black;
            background-color: antiquewhite;
        }
       

    </style>

</head>
<body>
    <h1 id="hea">Tekken Reborn</h1>
    <h2 id="me"> Hi, I am Mohamad. I am currently learning Spring boot with the best proferssor. I am so excited to learn spring boot and gain more skills. </h2>
    <h1>What is spring boot</h1>
    <p>Spring Boot is a Framework from “The Spring Team” to ease the bootstrapping and development of new Spring Applications. It provides defaults for code and annotation configuration to quick start new Spring projects within no time. It follows “Opinionated Defaults Configuration” Approach to avoid lot of boilerplate code and configuration to improve Development, Unit Test and Integration Test Process.</p>
    <h1>Advantages of spring boot</h1>
    <div class="holder">
    <ul>
        <li>It is very easy to develop Spring Based applications with Java or Groovy</li>
        <li>It reduces lots of development time and increases productivity</li>
        <li>It avoids writing lots of boilerplate Code, Annotations and XML Configuration</li>
        <li>It is very easy to integrate Spring Boot Application with its Spring Ecosystem like Spring JDBC, Spring ORM, Spring Data, Spring Security etc.</li>
    </ul>
</div>
</body>
</html>